@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*hide the source svgs*/
.svgCollection {
    display: none;
}

html {
    background: #24252a;
    font-family: "Noto Sans JP", sans-serif;
    text-transform: uppercase;
}
/*containers for the test displays*/

#teamInformation {
    position: fixed;
    
    height: 100%;
    top: 0;
    left: 1em;
    border: 2px solid rgba(0,136,169);
    text-align: center;
    min-width: 18em;
}



#gridWrapper {
    margin-left: calc(calc(100vw - 17em)/2); 

    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    

    width: 36em;
}
.testContainer {
    margin: 10px auto 10px;
    height: 50px;
    width: 200px;

    background: #848b8d;
    border: 2px solid rgba(0,136,169);
    border-radius: 10px;
    position: relative;

    
    flex: 0 0 200px;
}


.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.gameweekContainer {
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.teamName {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #24252a;
    font-size: 1rem;
    line-height: 110%;
    
    text-align: center;
    position: absolute;
    left: 24px;

    margin: auto;
    margin-top: 16px;
    
    width: 200px;
    
}

.logoBack {
    height: 42.66px;
    width: 42.66px;
    border: 2.25px solid #000;
    border-radius: 50%;
    background: #edf0f1;
    position:absolute;
    left: 4px;
    top: 2px;
 
}

.logoChoice {
    height: 60px;
    width: 60px;
    position:absolute;
    left: 8px;
    top: 6px;

    z-index: 2;
    
    
}

.testContainer svg {
    width: 40px;
    height: 40px;
    
    stroke: #24252a;
    stroke-width: 1.25px;
}

.blue svg {
    fill: #1e90ff;
}
.red svg {
    fill: #b22222;
}
.green svg {
    fill: #3cb371;
}
.purple svg {
    fill: #ba55d3;
}
.yellow svg {
    fill: #ffd700;
}
.orange svg {
    fill: #ff7f50;
}
.lightblue svg {
    fill: #87ceeb;
}
.white svg {
    fill: #fffafa;
}

.formLabel {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}


.versus {
    width: 28px;
    height: 28px;
    
    margin: auto;
    margin-top: 20px;

    padding: 10px;

    background: #24252a;

    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    
    
}

.gameweek {
    grid-column: 1 / 4;

    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;

}

/*list styles*/
nav {
    margin:0;
    padding:0;
    text-align: center;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    
}

li {
    display: inline-block;
}

/*button styling*/

.button {
    display: inline-block;
    text-decoration: none;
    position: relative;
   
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: 1em;
    margin-right: 1em;

}

.bottom {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 122px;
    height: 42px;
    background-color: rgba(0,136,169,1);
    display: block;
}

.top {
    position: relative;
    left: 0;
    top: 0;
    width: 120px;
    height: 40px;
    
    border: 2px solid #edf0f1;
}

.label {
    font-family: "Noto Sans JP", sans-serif;
    
    color: #edf0f1;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
}

.button:hover .bottom {
    left: 2px;
    top: 2px;
    width: 120px;
    height: 40px;
    background-color: #edf0f1;
    -webkit-transition: all .20s ease-out;
    -moz-transition: all .20s ease-out;
    -o-transition: all .20s ease-out;
    transition: all .20s ease-out;
}

.button:hover .label {
    color: rgba(0,136,169,1);
    -webkit-transition: all .20s ease-out;
    -moz-transition: all .20s ease-out;
    -o-transition: all .20s ease-out;
    transition: all .20s ease-out;
}

.button-border {
    position: absolute;
    background-color: rgba(0,136,169,1);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .button-border-left, .button:hover .button-border-right {
    height: calc(100% + 2px);
}

.button:hover .button-border-top, .button:hover .button-border-bottom {
    width: calc(100% + 2px);
}

.button-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0px;
    height: 2px;
}

.button-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

/*select tag styling*/
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: "Noto Sans JP", sans-serif;
    margin-top: 2em;
    margin-left: 3em;
    width: 14em;
    height: 2em;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: rgba(0,136,169,1);
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgba(0,136,169,1);;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }