.svgCollection {

}

#test {
    margin: auto;
}

.testContainer {
    margin: auto;
    height: 100px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
}

.logoBack {
    height: 64px;
    width: 64px;
    border: 2px solid #000;
    border-radius: 50%;
    background: rgb(104, 101, 101);
    position:absolute;
    left: 5px;
    top: 18px;

    
}

.logoChoice {
    height: 60px;
    width: 60px;
    position:absolute;
    left: 9px;
    top: 22px;

    z-index: 2;
    
    
}

.logoChoice svg {
    width: 60px;
    height: 60px;
    fill: #1e90ff;
    stroke: #000;
}